@font-face {
    font-family: 'La Belle Aurore';
    font-weight: 400;
    src: local('La Belle Aurore'), url(../fonts/LaBelleAurore-Regular.ttf) format('truetype');
}


@font-face {
    font-family: 'Sofia Pro';
    font-weight: 400;
    src: local('Sofia Pro'), url(../fonts/SofiaProRegular.ttf) format('truetype');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 300;
    src: local('Sofia Pro'), url(../fonts/SofiaProLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 500;
    src: local('Sofia Pro'), url(../fonts/SofiaProMedium.ttf) format('truetype');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 600;
    src: local('Sofia Pro'), url(../fonts/SofiaProSemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 700;
    src: local('Sofia Pro'), url(../fonts/SofiaProBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 900;
    src: local('Sofia Pro'), url(../fonts/SofiaProBlack.ttf) format('truetype');
}