@media (max-width: 1400px) {
    .form__submit {
        width: 72%;
    }

    .contacts {
        &__left {
            width: 50%;
        }

        &__right {
            width: 50%;
            &-top {
                width: 100%;
                @include flex-container;
                flex-direction: column;
            }
        }
        &__block {
            width: 100%;
        }
        &__map {
            width: 100%;
            height: 300px;
        }
    }
}

@media (max-width: 1200px) {
    .home__title {
        font-size: 6.1rem;
    }

    .form__message {
        height: 200px;
    }

    .contacts__map {
        height: 250px;
    }

    .discription__title {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        margin: 0;
    }
}

@media (max-width: 1100px) {
    .header {
        padding: 0 3rem;
    }
    .wrapper {
        padding: 0;
    }
    .photo {
        position: relative;
        left: 0;
        top: 0;
        display: none;
        width: 0;
    }

    .container {
        left: 0;
        width: 100%;
    }

    .portfolio__item {
        height: 400px;
    }

    .discription {
        &__wrapper {
            padding: 3rem 0;
        }
        bottom: 5%;
    }
}

@media (max-width: 900px) {
    .main__menu {
        display: none;
    }

    .nav {
        @include flex-container--column;
        justify-content: space-around;
        height: 100%;
    }

    .portfolio__item {
        height: 350px;
    }
}

@media (max-width: 700px) {
    .home {
        &__title {
            font-size: 4.6rem;
        }

        &__subtitle {
            font-size: 2.5rem;
        }
    }

    .portfolio {
        &__filters {
            grid-template: repeat(2, 1fr) / repeat(3, auto);
        }

        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            height: 400px;
        }
    }

    .discription {
        &__wrapper {
            padding: 2.5rem 0;
        }

        &__title {
            font-size: 1.3rem;
            line-height: 2.5rem;
            letter-spacing: 0.2rem;
            margin: 0;
        }
    }

    .contacts {
        &__container {
            display: block;
        }

        &__left {
            width: 100%;
            padding: 0;
            margin-bottom: 3rem;
        }

        &__right {
            width: 100%;
        }

        &__map {
            margin-bottom: 3rem;
        }
    }

    .form__submit {
        width: 100%;
    }
}

@media (max-width: 507px) {
    .about {
        &__wrapper {
            display: block;
        }
        &__column {
            width: 100%;

            &:nth-child(2) {
                margin-left: 0;
            }
        }
    }

    .portfolio {
        &__filters {
            grid-template: 1fr / 1fr;
            &-item {
                width: 30%;
                justify-content: start;
            }
        }
        &__item {
            height: 350px;
        }
    }

    .discription {
        &__wrapper {
            padding: 2rem 0;
        }

        &__title {
            font-size: 1rem;
            line-height: 2rem;
            letter-spacing: 0.2rem;
            padding-bottom: 1rem;
            margin: 0;
        }
    }
}

@media (max-width: 400px) {
    .portfolio__item {
        height: 300px;
    }
}
