@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.mobile {
    &__photo {
        width: 90px;
        height: 90px;
        margin-bottom: 2rem;

        &-img {
            width: 100%;
            height: 100%;
            background: url(../../assets/mainPhoto.jpg) no-repeat 50%;
            background-size: cover;
        }
    }
    &__menu {
        @include flex-container--column;
        justify-content: flex-start;

        position: absolute;
        top: 60px;
        right: -100%;
        z-index: 10;

        width: 100%;
        height: calc(100vh - 60px);

        padding-right: 2rem;

        background: $bgColor;
        opacity: 0;

        transition: all 1s;
    }

    &__selector {
        margin-bottom: 2rem;
    }
    &__social {
        margin: auto 0;
    }
}

.header__nav {
    height: 25%;
}

.menu__open {
    right: 0;
    opacity: 1;
}
.menu__close {
    right: -100%;
    opacity: 0;

    transition: all 1s .6s;
}