@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.social {
    @include flex-container();
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    &__list {
        @include flex-container();
        justify-content: space-around;
        height: 100%;
    }

    &__icon {
        position: relative;
        @include flex-container;
        padding: 1rem 1.5rem;

        @include link-hover;
        &:hover > svg {
            fill: $bgColor;
        }
    }
}